name: Build

on:
  push:
    branches: [main]

jobs:

  build:
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: install mono
      run: |
        sudo apt update
        sudo apt install -y mono-devel xvfb
    - name: get dependencies
      run: |
        curl -L -o kp.zip https://sourceforge.net/projects/keepass/files/KeePass%202.x/2.18/KeePass-2.18.zip/download
        unzip -d build kp.zip
    - run: dotnet build -c Release src
    - name: plgx create
      run: |
        cp -r assets output
        ls -al src/bin/Release/*
        cp src/bin/Release/*/*.dll output
        xvfb-run mono build/KeePass.exe -plgx-create $PWD/output
    - uses: actions/upload-artifact@v4
      with:
        path: output.plgx
